/* header */
.header {
  display: flex;
  height: 100px;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  margin-left: 54px;
  margin-right: 100px;
}

.brand:hover {
  cursor: pointer;
}
.navbar {
  width: 30%;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navbar-item {
  justify-content: space-between;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navbar-item:hover {
  cursor: pointer;
}

.icons {
  list-style-type: none;
  justify-content: space-between;
  width: 15%;
  right: 0;
  display: flex;
  padding: 0;
  margin: 0;
}

.icon-item:hover {
  cursor: pointer;
}
/* end */

/* footer */

.footer-text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer {
  height: 505px;
  margin: 45px 100px 0px;
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  border-bottom: #d9d9d9 solid 1px;
  padding-bottom: 50px;
  flex: 0;
}

.info-prod {
  width: 285px;
  flex: 1;
  flex: 0 0 20%;
}

.funiro {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.address {
  color: #9f9f9f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
}

.links-help-news {
  display: flex;
  flex: 2;
  justify-content: space-around;
}

.links-help-news-position {
  margin-top: 50px;
}

.item-margin-top {
  margin-top: 46px;
}

.links-help-news-title {
  color: #9f9f9f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.links-nav {
  padding: 0;
  margin-bottom: 0;
}

.links-nav-item {
  list-style-type: none;
}

.links-help-news-title {
  color: #9f9f9f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.helper-nav {
  padding: 0;
  margin-bottom: 0;
}

.helper-nav-item {
  list-style-type: none;
}

.links-help-news-title {
  color: #9f9f9f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.email-input {
  outline: none;
  border: none;
  border-bottom: 1.3px solid #000;
  color: #9f9f9f;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.submit-btn {
  border: none;
  background: transparent;
  border: none;
  border-bottom: 1.3px solid #000;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-copryright {
  display: flex;
  align-items: center;
  flex: 1;
}

.footer-copryright p {
  margin: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* end */
