/* header */
.header {
  display: flex;
  height: 100px;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  margin-left: 54px;
  margin-right: 100px;
}

.brand:hover {
  cursor: pointer;
}
.navbar {
  width: 30%;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navbar-item {
  justify-content: space-between;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navbar-item:hover {
  cursor: pointer;
}

.icons {
  list-style-type: none;
  justify-content: space-between;
  width: 15%;
  right: 0;
  display: flex;
  padding: 0;
  margin: 0;
}

.icon-item:hover {
  cursor: pointer;
}
/* end */

/* footer */

.footer-text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer {
  height: 505px;
  margin: 45px 100px 35px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.info-prod {
  width: 285px;
}

.funiro {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.address {
  color: #9f9f9f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 50px;
}

.links-title {
  color: #9f9f9f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.links-nav {
  padding: 0;
  margin-bottom: 0;
}

.links-nav-item {
  list-style-type: none;
}

/* end */
