<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Furino.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Furino.WebApp.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>

<body>
    <header class="header">
        <div class="brand">
            <img src="/img/logo.png" alt="logo" class="logo">
            <img src="/img/brand-name.png" alt="brand name" class="brand-name">
        </div>
        <ul class="navbar">
            <li class="navbar-item">Home</li>
            <li class="navbar-item">Shop</li>
            <li class="navbar-item">About</li>
            <li class="navbar-item">Contact</li>
        </ul>
        <ul class="icons">
            <li class="icon-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                    <path
                        d="M23.3334 14V8.16669H25.6667V15.1667H23.3334M23.3334 19.8334H25.6667V17.5H23.3334M11.6667 15.1667C14.7817 15.1667 21 16.73 21 19.8334V23.3334H2.33337V19.8334C2.33337 16.73 8.55171 15.1667 11.6667 15.1667ZM11.6667 4.66669C12.9044 4.66669 14.0914 5.15835 14.9665 6.03352C15.8417 6.90869 16.3334 8.09568 16.3334 9.33335C16.3334 10.571 15.8417 11.758 14.9665 12.6332C14.0914 13.5084 12.9044 14 11.6667 14C10.429 14 9.24205 13.5084 8.36688 12.6332C7.49171 11.758 7.00004 10.571 7.00004 9.33335C7.00004 8.09568 7.49171 6.90869 8.36688 6.03352C9.24205 5.15835 10.429 4.66669 11.6667 4.66669ZM11.6667 17.3834C8.20171 17.3834 4.55004 19.0867 4.55004 19.8334V21.1167H18.7834V19.8334C18.7834 19.0867 15.1317 17.3834 11.6667 17.3834ZM11.6667 6.88335C11.0169 6.88335 10.3938 7.14148 9.9343 7.60094C9.47483 8.06041 9.21671 8.68357 9.21671 9.33335C9.21671 9.98313 9.47483 10.6063 9.9343 11.0658C10.3938 11.5252 11.0169 11.7834 11.6667 11.7834C12.3165 11.7834 12.9397 11.5252 13.3991 11.0658C13.8586 10.6063 14.1167 9.98313 14.1167 9.33335C14.1167 8.68357 13.8586 8.06041 13.3991 7.60094C12.9397 7.14148 12.3165 6.88335 11.6667 6.88335Z"
                        fill="black" />
                </svg>
            </li>
            <li class="icon-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                    <path
                        d="M24.5 24.5L19.2664 19.257M22.1667 12.25C22.1667 14.88 21.1219 17.4024 19.2622 19.2621C17.4024 21.1219 14.8801 22.1666 12.25 22.1666C9.61998 22.1666 7.09763 21.1219 5.2379 19.2621C3.37816 17.4024 2.33337 14.88 2.33337 12.25C2.33337 9.61992 3.37816 7.09757 5.2379 5.23784C7.09763 3.3781 9.61998 2.33331 12.25 2.33331C14.8801 2.33331 17.4024 3.3781 19.2622 5.23784C21.1219 7.09757 22.1667 9.61992 22.1667 12.25V12.25Z"
                        stroke="black" stroke-width="2" stroke-linecap="round" />
                </svg>
            </li>
            <li class="icon-item"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                    fill="none">
                    <path
                        d="M8.16671 3.5C4.94554 3.5 2.33337 6.08533 2.33337 9.275C2.33337 11.8498 3.35421 17.9608 13.4027 24.1383C13.5827 24.2479 13.7893 24.3058 14 24.3058C14.2107 24.3058 14.4174 24.2479 14.5974 24.1383C24.6459 17.9608 25.6667 11.8498 25.6667 9.275C25.6667 6.08533 23.0545 3.5 19.8334 3.5C16.6122 3.5 14 7 14 7C14 7 11.3879 3.5 8.16671 3.5Z"
                        stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg></li>
            <li class="icon-item"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                    fill="none">
                    <path
                        d="M25.2356 19.1926H8.95237L9.76995 17.5273L23.3543 17.5027C23.8137 17.5027 24.2074 17.1746 24.2895 16.7207L26.1707 6.19062C26.2199 5.91445 26.1461 5.63008 25.9656 5.41406C25.8765 5.30775 25.7652 5.22211 25.6396 5.16309C25.514 5.10407 25.3771 5.07308 25.2383 5.07227L7.95706 5.01484L7.8094 4.32031C7.71643 3.87734 7.31721 3.55469 6.86331 3.55469H2.6387C2.3827 3.55469 2.13719 3.65638 1.95617 3.8374C1.77516 4.01841 1.67346 4.26393 1.67346 4.51992C1.67346 4.77592 1.77516 5.02143 1.95617 5.20245C2.13719 5.38346 2.3827 5.48516 2.6387 5.48516H6.08127L6.72659 8.55312L8.31526 16.2449L6.26995 19.5836C6.16373 19.727 6.09975 19.8972 6.08526 20.075C6.07076 20.2528 6.10632 20.4312 6.18791 20.5898C6.35198 20.9152 6.68284 21.1203 7.04924 21.1203H8.76643C8.40035 21.6065 8.20261 22.1988 8.20315 22.8074C8.20315 24.3551 9.46096 25.6129 11.0086 25.6129C12.5563 25.6129 13.8141 24.3551 13.8141 22.8074C13.8141 22.1977 13.6117 21.6043 13.2508 21.1203H17.6559C17.2898 21.6065 17.0921 22.1988 17.0926 22.8074C17.0926 24.3551 18.3504 25.6129 19.8981 25.6129C21.4457 25.6129 22.7035 24.3551 22.7035 22.8074C22.7035 22.1977 22.5012 21.6043 22.1403 21.1203H25.2383C25.7688 21.1203 26.2035 20.6883 26.2035 20.1551C26.202 19.8994 26.0993 19.6546 25.9179 19.4743C25.7366 19.294 25.4913 19.1927 25.2356 19.1926ZM8.35901 6.91797L24.1035 6.96992L22.5613 15.6051L10.1938 15.627L8.35901 6.91797ZM11.0086 23.6715C10.5328 23.6715 10.1446 23.2832 10.1446 22.8074C10.1446 22.3316 10.5328 21.9434 11.0086 21.9434C11.4844 21.9434 11.8727 22.3316 11.8727 22.8074C11.8727 23.0366 11.7816 23.2564 11.6196 23.4184C11.4576 23.5805 11.2378 23.6715 11.0086 23.6715ZM19.8981 23.6715C19.4223 23.6715 19.034 23.2832 19.034 22.8074C19.034 22.3316 19.4223 21.9434 19.8981 21.9434C20.3739 21.9434 20.7621 22.3316 20.7621 22.8074C20.7621 23.0366 20.6711 23.2564 20.5091 23.4184C20.347 23.5805 20.1272 23.6715 19.8981 23.6715Z"
                        fill="black" />
                </svg></li>
        </ul>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <div class="info-prod">
                <p class="funiro">Funiro.</p>
                <span class="address">400 University Drive Suite 200 Coral Gables, FL 33134 USA</span>
            </div>
            <div class="links">
                <span class="links-title">Links</span>
                <ul class="links-nav footer-text">
                    <li class="links-nav-item">Home</li>
                    <li class="links-nav-item">Shop</li>
                    <li class="links-nav-item">About</li>
                    <li class="links-nav-item">Contact</li>
                </ul>
            </div>
            <div class="helper">
                <span class="helper-title">Help</span>
                <ul class="helper-nav footer-text">
                    <li class="helper-nav-item">Payment Options</li>
                    <li class="helper-nav-item">Returns</li>
                    <li class="helper-nav-item">Privacy Pilicies</li>
                </ul>
            </div>
            <div class="newsletter">
                <span class="newsletter-title">Newsletter</span>
                <div class="email-submit">
                    <imput class="email-input"></imput>
                    <button class="submit-btn footer-text">SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <div class="footer-copryright">2023 furino. All rights reverved</div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>