.home-page {
}

.hp-background-top {
  position: relative;
  height: 710px;
  background: url(/img/backgr-top.png) lightgray 50% / cover no-repeat;
}

.new-arrival {
  position: absolute;
  padding-top: 60px;
  padding-right: 55px;
  width: 643px;
  height: 443px;
  top: 15%;
  right: 5%;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff3e3;
  border: 10px;
}

.new-arrival-item {
  margin-left: 40px;
}

.new-arrival .new-arrival-item:first-child {
  margin-top: 20px;
}

.new-arrival .new-arrival-item:last-child {
  margin-top: 30px;
}
.new-arrival span {
  color: var(--Font-Color, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3px;
  margin-left: 40px;
}

.new-arrival h2 {
  width: 559px;
  height: 127px;
  flex-shrink: 0;
  color: var(--Primary, #b88e2f);
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px; /* 125% */
  margin-left: 40px;
}

.new-arrival p {
  width: 546px;
  height: 52px;
  flex-shrink: 0;
  color: var(--Font-Color, #333);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-left: 40px;
}

.new-arrival button {
  display: inline-flex;
  padding: 25px 72px;
  align-items: flex-start;
  gap: 10px;
  background: var(--Primary, #b88e2f);
  border-style: none;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 40px;
}

.hp-browse-range {
  width: 1184px;
  margin: 40px 125px;
}

.hp-browse-range-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.broswe-range-title {
  color: var(--Font-Color, #333);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
}

.broswe-range-description {
  width: 559px;
  height: 28.711px;
  flex-shrink: 0;
}

.broswe-range-card {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.broswe-range-card-item-img {
  border-radius: 10px;
}

.broswe-range-card-item-title {
  color: var(--Font-Color, #333);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.hp-our-products {
  width: 1236px;
  margin: 10px 102px;
}

.hp-our-products h2 {
  color: var(--Color-Gray-1, #3a3a3a);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  margin-bottom: 30px;
}

.our-products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hp-beautiful-ro {
}
.hp-furniture {
}
