@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home-page">
    <div class="hp-background-top">
        <div class="new-arrival">
            <span class="new-arriva-small-title new-arrival-item">New Arrival</span>
            <h2 class="new-arriva-medium-title new-arrival-item">Discover Our <br/>New Collection</h2>
            <p class="new-arriva-description new-arrival-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
            <button class="new-arriva-btn new-arrival-item">BUY NOW</button>
        </div>
    </div>
    <div class="hp-browse-range"></div>
    <div class="hp-our-products"></div>
    <div class="hp-beautiful-ro"></div>
    <div class="hp-furniture"></div>
</div>
